{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Pages / Login - Sumi Data Entry Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static '/assets/img/favicon.png' %}" rel="icon">
    <link href="{% static '/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static '/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static '/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static '/assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static '/assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
    <link href="{% static '/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static '/assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static '/assets/css/styles.css' %}" rel="stylesheet">
</head>

<body>
    <main id="main" class="main" style="margin-left: 0px !important;">

        <section class="section">
            <div class="row">
                <div class="col-lg-6 offset-md-3">

                    <div class="card">
                        <div class="card-body" style="text-align: center;">
                            <h5 class="card-title">Please provide the registered email.</h5>
                            <form novalidate method="post" name="form">
                                {% csrf_token %}
                                <div class="row mb-3">
                                    <!-- <label for="inputText" class="col-sm-2 col-form-label">Email</label> -->
                                    <div class="col-sm-12">
                                        <input name="email" type="email" class="form-control" required>
                                        <div style="text-align: left;color: red;">{{ form.errors.email }}</div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label"></label>
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary col-md-4">Reset</button>
                                    </div>

                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main>
    <!-- End #main -->
</body>

</html>